.glowing-puzzle-game{
	
}
/*.glowing-puzzle-game tr,*/

.glowing-puzzle-game-target,
.glowing-puzzle-game{
	width:160px;
	margin:auto;
}
.glowing-puzzle-game-target tr,
.glowing-puzzle-game tr{
	height:40px;
}
.glowing-puzzle-game-target tr td,
.glowing-puzzle-game tr td{
	width:20px;
	height:20px;
}
.glowing-puzzle-game-target tr td.red,
.glowing-puzzle-game tr td.red{
	background-color: rgb(255,0,0);
}
.glowing-puzzle-game-target tr td.blue,
.glowing-puzzle-game tr td.blue{
	background-color: rgb(0,0,255);
}
.glowing-puzzle-game-target tr td.white,
.glowing-puzzle-game tr td.white{
	background-color: white;
}
.counter{
	margin:auto; 
	width:20%;
}
.counter label{
	font-size: 30px;
}
table{
	table-layout: fixed;
}
td{
	text-align: center;
}
code{
	width:100px;
}
